{% extends 'identity/base.html' %}


{% block content %}
<div class="container">
    <h1 class="title">Welcome to Gamestone!</h1>
    <p>We do not yet have full authentication features, you can still try out the app with a temporary user though.</p>
    <p>Click the button below to create a temporary user that will be deleted when you logout.</p>
    <form class="login" method="POST">
        {% csrf_token %}
        <button class="button is-primary" type="submit">Create a temporary user.</button>
    </form>
</div>
{% endblock content %}
